/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "poppins";
    font-size: 1.6rem; /* 16px */
    /* background-color: rgb(33, 33, 33); */
    color: white;
}
a {
    all: unset;
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}

/* Page background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

/* Card - Search bar */
#card {
    width: 40%;
    max-width: 500px;
    min-height: 300px; 
    height: fit-content;
    margin: auto;
    border-radius: 4rem;
    padding: 4rem;
    background-image: linear-gradient(-180deg, #53b58987 0%, #1697bef2 80%);
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
#search-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: space-between;
    width: 100%;
}
#search-container button, #search-container input {
    font-size: 1.6rem;
    height: 60px;
    border-radius: 32px;
    border: none;
}
#search-container button:focus, #search-container input:focus {
    outline-color: rgb(70, 209, 186);
}
#search-container button {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-weight: 500;
    background-color: #2e8099;
    color: white;
}
#search-container button:hover {
    background-color: #185669;
}
#search-container input {
    flex-grow: 2;
    font-family: "poppins";
    padding: 1rem 2.4rem;
    background-color: #ebfffc;
    color: rgb(89, 89, 89);
}

/* Card - main */
#weather-container {
    margin: 3.2rem auto;
}
.weather-icon {
    width: 34%;
}
#weather-container h1 {
    font-size: 8rem;
    font-weight: 600;
}
#weather-container h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: -10px;
}
.error {
    display: none;
    text-align: left;
    color: #9b0000;
    font-weight: 700;
    margin-top: 0.8rem;
}

/* Card - details */
#weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#humidity, #wind {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1.6rem;
}
#humidity img, #wind img {
    width: 18%;
}
#humidity-title, #wind-title {
    font-size: 2.6rem;
}

/* RESPONSIVE BREAKPOINTS */ 
/* Tablettes et moyennes écrans */
@media screen and (max-width: 992px){
    #card {
        width: 70%;
    }
    #search-container {
        flex-direction: column;
        align-items: stretch;
    }
}
/* Portables et petits écrans */
@media screen and (max-width: 576px){
    #card {
        width: 90%;
    }
}